<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- totalTicketsForCustomer Column -->
    <ng-container matColumnDef="totalTicketsForCustomer">
      <th mat-header-cell *matHeaderCellDef>Total Customer Tickets</th>
      <td mat-cell *matCellDef="let element"> {{element.totalTicketsForCustomer}} </td>
    </ng-container>
  
    <!-- totalTicketsForVendor Column -->
    <ng-container matColumnDef="totalTicketsForVendor">
      <th mat-header-cell *matHeaderCellDef>Total Venndor Tickets</th>
      <td mat-cell *matCellDef="let element"> {{element.totalTicketsForVendor}} </td>
    </ng-container>
  
    <!-- totalVendors Column -->
    <ng-container matColumnDef="totalVendors">
      <th mat-header-cell *matHeaderCellDef> Total Vendors </th>
      <td mat-cell *matCellDef="let element"> {{element.totalVendors}} </td>
    </ng-container>
  
    <!-- totalConsumers Column -->
    <ng-container matColumnDef="totalConsumers">
      <th mat-header-cell *matHeaderCellDef> Total Consumers </th>
      <td mat-cell *matCellDef="let element"> {{element.totalConsumers}} </td>
    </ng-container>
  
    <!-- ticketReleaseRate Column -->
    <ng-container matColumnDef="ticketReleaseRate">
        <th mat-header-cell *matHeaderCellDef> Ticket ReleaseRate </th>
        <td mat-cell *matCellDef="let element"> {{element.ticketReleaseRate}} </td>
    </ng-container>

    <!-- customerRetrievalRate Column -->
    <ng-container matColumnDef="customerRetrievalRate">
        <th mat-header-cell *matHeaderCellDef> Customer RetrievalRate </th>
        <td mat-cell *matCellDef="let element"> {{element.customerRetrievalRate}} </td>
    </ng-container>

    <!-- maxTicketCapacity Column -->
    <ng-container matColumnDef="maxTicketCapacity">
        <th mat-header-cell *matHeaderCellDef> Max TicketCapacity </th>
        <td mat-cell *matCellDef="let element"> {{element.maxTicketCapacity}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>