<div class="controllers-container">
    <mat-card class="start-section" appearance="outlined">
        <section [formGroup]="startUpSelections">
            <p>Configure Startup</p>
            <p><mat-checkbox formControlName="startVendors">Start Vendors</mat-checkbox></p>
            <p><mat-checkbox formControlName="startConsumers">Start Consumers</mat-checkbox></p>
        </section>
        <button mat-stroked-button (click)="start()">Start</button>
        <button mat-stroked-button (click)="stop()">Stop</button>
    </mat-card>
</div>