<button mat-stroked-button (click)="initializeConsumers()">Initialize Consumers</button>
<button mat-stroked-button (click)="initializeVendors()">Initialize Vendors</button>
<button mat-stroked-button (click)="startVendors()">Start Vendors</button>
<button mat-stroked-button (click)="startConsumers()">Start Consumers</button>
<button mat-stroked-button (click)="stopVendors()">Stop Vendors</button>
<button mat-stroked-button (click)="stopConsumers()">Stop Consumers</button>
<button mat-stroked-button (click)="clearConsumers()">Clear Consumers</button>
<button mat-stroked-button (click)="clearVendors()">Clear Vendors</button>