<p>Past Configurations</p>

<app-table></app-table>

<form [formGroup]="configForm" (submit)="submitForm($event)">
    <mat-form-field>
        <mat-label>Total Tickets For vendor</mat-label>
        <input id="totalTicketsForVendor" formControlName="totalTicketsForVendor" matInput type="number" required>
        @if (configForm.hasError('totalTicketsForVendor') && !configForm.hasError('required')) {
            <mat-error>Please enter a value between _ to _</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Total Tickets For Customer</mat-label>
        <input id="totalTicketsForCustomer" formControlName="totalTicketsForCustomer" matInput type="number" required>
        @if (configForm.hasError('totalTicketsForCustomer') && !configForm.hasError('required')) {
            <mat-error>Please enter a value between _ to _</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Total Vendors</mat-label>
        <input id="totalVendors" formControlName="totalVendors" matInput type="number" required>
        @if (configForm.hasError('totalVendors') && !configForm.hasError('required')) {
            <mat-error>Please enter a value between _ to _</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Total Consumer</mat-label>
        <input id="totalConsumers" formControlName="totalConsumers" matInput type="number" required>
        @if (configForm.hasError('totalConsumers') && !configForm.hasError('required')) {
            <mat-error>Please enter a value between _ to _</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Ticket Release Rate</mat-label>
        <input id="ticketReleaseRate" formControlName="ticketReleaseRate" matInput type="number" required>
        @if (configForm.hasError('ticketReleaseRate') && !configForm.hasError('required')) {
            <mat-error>Please enter a value between _ to _</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Consumer Retrieval Rate</mat-label>
        <input id="customerRetrievalRate" formControlName="customerRetrievalRate" matInput type="number" required>
        @if (configForm.hasError('customerRetrievalRate') && !configForm.hasError('required')) {
            <mat-error>Please enter a value between _ to _</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Maximum Ticket Capacity</mat-label>
        <input id="maxTicketCapacity" formControlName="maxTicketCapacity" matInput type="number" required>
        @if (configForm.hasError('maxTicketCapacity') && !configForm.hasError('required')) {
            <mat-error>Please enter a value between _ to _</mat-error>
        }
    </mat-form-field>

    <div>
        <button mat-stroked-button color="primary" type="submit">Configure</button>
        <button  mat-stroked-button color="primary" type="reset">Reset</button>
    </div>
</form>