.chart {
    height: 500px;
}


.dash {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 1000px;
    margin: 0 auto;
    gap: 1rem;
}

.buttons {
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-between;
gap:1rem;
}